img{
    max-width: 100%;
}
body{
    background-color: gainsboro;
}
.grande{
    font-size: 3em;
    margin-top: 0em;
}
a:visited, a:active, a:link{
    text-decoration: none;
    font-size: medium;
}
.div_principal{

    color: rgb(0, 0, 42);
    text-align: center;
    margin-top: 70px;
    font-family: 'Baloo Tamma 2', cursive;
}
.div_contacto{

    color: rgb(0, 0, 42);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-family: 'Baloo Tamma 2', cursive;
}
h1{
    font-size: 1.5em;
}
.espacio_derecha{
    margin-right: 1em;
}
.retraso1{
    animation-delay: 1s;
}
.retraso2{
    animation-delay: 1.5s;
}
.retraso3{
    animation-delay: 2s;
}